@model IEnumerable<LojaFantasias.Data.Clientes>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Clientes</h2>

<p>
    @Html.ActionLink("Inserir Novo Cliente", "Create")
</p>
<br />

@{
    if (IsPost)
    {
        var txtbuscar = Request["txtbuscar"];
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <table>
        <tr>
            <td>
                <input id="txtbuscar" required="required" size="200" type="text"
                       name="txtbuscar" value="" class="form-control" />
            </td>
            <td><input type="submit" value="Buscar" class="btn btn-default" /></td>
        </tr>
    </table><br>
 }

<table class="table">
    <tr>
        <th>
    @Html.DisplayNameFor(model => model.nome_cli)
        </th>
         <th>
            @Html.DisplayNameFor(model => model.telefone)
        </th>
         <th>
            @Html.DisplayNameFor(model => model.endereco)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome_cli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endereco)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id_cliente }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id_cliente })
            </td>
        </tr>
    }

</table>
